@import '../node_modules/normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap');
@import '/assets/FontAwesome/css/all.min.css';

html,
body {
	background-color: var(--color-main);
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

body {
	position: relative;
}
