<div class="container">
	<div class="terminal-title">
		<span>Terminal</span>
	</div>
	<div class="header">
		<span class="terminal-title">Terminal</span>
		<div class="icons-wrapper">
			<i class="fas fa-cog settings-button"></i>
			<i class="fas fa-arrow-down close-button"></i>
		</div>
	</div>
	<div class="content">
		<app-terminal></app-terminal>
	</div>
</div>
