@import '/assets/FontAwesome/css/all.min.css';

.container {
	width: 100%;
	height: 20px;
	position: absolute;
	bottom: 0;
	background-color: var(--color-submain);

	.terminal-title {
		font-weight: 600;
		display: flex;
		align-items: center;
	}

	.header {
		height: 30px;
		display: none;
		background-color: var(--color-submain);
		align-items: center;

		.icons-wrapper {
			display: flex;
			width: 100%;
			justify-content: flex-end;

			.settings-button,
			.close-button {
				margin-right: 10px;
				cursor: pointer;
			}
		}
	}

	.content {
		height: 320px;
		display: none;
		background-color: black;
	}
}
