.terminal {
	margin-left: 10px;
	width: calc(100% - 20px);
	height: calc(100% - 15px);
	box-sizing: border-box;
	padding: 0 !important;
	border: 0;
	resize: none;
	background-color: black;
	caret-color: greenyellow;
	font-size: 16px;
	color: greenyellow;

	&:focus {
		outline: none;
	}
}
