:root {
	--color-main: #272727;
	--color-submain: #747474;
	--color-danger: #ff652f;
	--color-warning: #ffe400;
	--color-success: #14a76c;
	--color-header: #242323;

	--base-font-size-multiplier: 1;
}
