@import '../../styles//base-functions.scss';

.container {
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
	background-color: var(--color-header);
}

.title-container {
	height: 100%;
	display: flex;
	align-items: center;
	margin-left: 15px;
}

.page-title {
	font-size: 32px;
	color: var(--color-warning);
}

.menu {
	height: 100%;
	display: flex;
	margin-left: 20px;
}

.menu-item {
	position: relative;
	height: 100%;
	flex: 0 0 auto;
	display: flex;
	align-items: center;
	align-content: center;
	cursor: pointer;

	span {
		margin: 0 20px;
		font-size: calculateFontSize(24px);
		color: var(--color-submain);
	}

	&:hover {
		opacity: 0.6;
	}
}
